<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <style type="text/css">
      body {
        text-align: center;
      }
      .result {
        margin: center
        width: 100%;
        white-space: pre-line;
        border: 1px solid #ccc;
        }
  </style>
  <body>
    <h1>XLXS -> TXT</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <div class="result" align="center">
     {{out_str |safe}}
 </div>
  </body>
</html>